.accordion {
   min-width: 26rem;
   max-width: 60rem;
   padding: 0 3rem;
   /* background-color: indianred; */

   margin: 10rem auto;

   display: flex;
   flex-direction: column;
   gap: 3rem;
}

.acc-item {
   display: grid;
   grid-template-columns: auto 1fr auto;
   row-gap: 1rem;
   column-gap: 1.5rem;
   align-items: center;

   box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.1);
   padding: 1rem 1.2rem;
   border-radius: 10px;
}

.acc-number,
.acc-question {
   font-size: 1.6rem;
   font-weight: 600;
}

.acc-question {
   padding-bottom: 0.5rem;
}

.acc-number {
   color: #bbb;
}

.acc-btn {
   background: none;
   border: none;
   cursor: pointer;
}

.acc-btn-text {
   font-size: 1.5rem;
   font-weight: 600;
}

.acc-btn-text--close {
   display: none;
}

.acc-hidden {
   display: flex;
   flex-direction: column;
   gap: 1.3rem;
   grid-column: 2/3;

   display: none;
}

.acc-text {
   font-size: 1.4rem;
   line-height: 1.4;
}

.acc-list {
   /* list-style: none; */
   margin-left: 1rem;
   line-height: 1.6;
   display: flex;
   flex-direction: column;
   gap: 0.8rem;
}

.acc-point {
   font-size: 1.4rem;
}

.acc-open .acc-hidden {
   display: block;
}

.acc-open.acc-item::after {
   content: "";
   height: 1px;
   background-color: green;
   grid-column: 1/-1;
   grid-row: 2;
}

.acc-open .acc-number,
.acc-open .acc-btn-text {
   color: green;
}
