<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="style.css" type="text/css" rel="stylesheet" />
      <title>01-Accordion</title>
   </head>
   <body>
      <section class="accordion-wrapper">
         <div class="accordion-item">
            <div class="question-number">01</div>
            <div class="question-title">
               What is the best way to learn Web Dev?
            </div>
            <svg
               xmlns="http://www.w3.org/2000/svg"
               class="arrow"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor"
            >
               <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
               />
            </svg>
            <p class="accordion-answer">
               Lorem ipsum, dolor sit amet consectetur adipisicing elit.
               Temporibus repellat aut dignissimos laborum ipsa est, fuga enim
               dicta illo distinctio autem quos earum. Dolorum iste quasi dolor
               porro. Tempora, iure?
            </p>
         </div>

         <div class="accordion-item">
            <div class="question-number">02</div>
            <div class="question-title">
               Who are the best teachers of this type of content?
            </div>
            <svg
               xmlns="http://www.w3.org/2000/svg"
               class="arrow"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor"
            >
               <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
               />
            </svg>
            <p class="accordion-answer">
               Lorem ipsum, dolor sit amet consectetur adipisicing elit.
               Temporibus repellat aut dignissimos laborum ipsa est, fuga enim
               dicta illo distinctio autem quos earum. Dolorum iste quasi dolor
               porro. Tempora, iure?
            </p>
         </div>

         <div class="accordion-item">
            <div class="question-number">03</div>
            <div class="question-title">
               What are the best projects to practice?
            </div>
            <svg
               xmlns="http://www.w3.org/2000/svg"
               class="arrow"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor"
            >
               <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
               />
            </svg>
            <p class="accordion-answer">
               Lorem ipsum, dolor sit amet consectetur adipisicing elit.
               Temporibus repellat aut dignissimos laborum ipsa est, fuga enim
               dicta illo distinctio autem quos earum. Dolorum iste quasi dolor
               porro. Tempora, iure?
            </p>
         </div>
      </section>
   </body>
</html>
