<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="css/style.css" rel="stylesheet" />
      <link href="css/general.css" rel="stylesheet" />
      <link href="css/queries.css" rel="stylesheet" />

      <script
         type="module"
         src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
      ></script>
      <script
         nomodule
         src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
      ></script>
      <script defer src="js/script.js"></script>
      <title>BLANK</title>
   </head>

   <body>
      <section class="accordion">
         <div class="acc-item acc-item-1 acc-open">
            <p class="acc-number">01</p>
            <p class="acc-question">Lorem ipsum dolor sit amet consectetur?</p>
            <button class="acc-btn acc-btn-1">
               <p class="acc-btn-text acc-btn-text--open">Open</p>
               <p class="acc-btn-text acc-btn-text--close">Close</p>
            </button>

            <div class="acc-hidden">
               <p class="acc-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Suscipit labore, optio cumque fugit repellendus, mollitia
                  fugiat repellat soluta corporis nesciunt doloremque! Facilis
                  ullam earum nisi.
               </p>
               <ul class="acc-list">
                  <li><p class="acc-point">Lorem ipsum dolor sit amet.</p></li>
                  <li><p class="acc-point">Lorem ipsum dolor sit amet.</p></li>
                  <li><p class="acc-point">Lorem ipsum dolor sit amet.</p></li>
                  <li><p class="acc-point">Lorem ipsum dolor sit amet.</p></li>
               </ul>
            </div>
         </div>

         <div class="acc-item acc-item-2">
            <p class="acc-number">02</p>
            <p class="acc-question">Lorem ipsum dolor sit amet consectetur?</p>
            <button class="acc-btn acc-btn-2">
               <p class="acc-btn-text acc-btn-text--open">Open</p>
               <p class="acc-btn-text acc-btn-text--close">Close</p>
            </button>

            <div class="acc-hidden">
               <p class="acc-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Suscipit labore, optio cumque fugit repellendus, mollitia
                  fugiat repellat soluta corporis nesciunt doloremque! Facilis
                  ullam earum nisi.
               </p>
               <ul class="acc-list">
                  <li><p class="acc-point">Lorem ipsum dolor sit amet.</p></li>
                  <li><p class="acc-point">Lorem ipsum dolor sit amet.</p></li>
                  <li><p class="acc-point">Lorem ipsum dolor sit amet.</p></li>
                  <li><p class="acc-point">Lorem ipsum dolor sit amet.</p></li>
               </ul>
            </div>
         </div>

         <div class="acc-item acc-item-3">
            <p class="acc-number">03</p>
            <p class="acc-question">Lorem ipsum dolor sit amet consectetur?</p>
            <button class="acc-btn acc-btn-3">
               <p class="acc-btn-text acc-btn-text--open">Open</p>
               <p class="acc-btn-text acc-btn-text--close">Close</p>
            </button>

            <div class="acc-hidden">
               <p class="acc-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Suscipit labore, optio cumque fugit repellendus, mollitia
                  fugiat repellat soluta corporis nesciunt doloremque! Facilis
                  ullam earum nisi.
               </p>
               <ul class="acc-list">
                  <li><p class="acc-point">Lorem ipsum dolor sit amet.</p></li>
                  <li><p class="acc-point">Lorem ipsum dolor sit amet.</p></li>
                  <li><p class="acc-point">Lorem ipsum dolor sit amet.</p></li>
                  <li><p class="acc-point">Lorem ipsum dolor sit amet.</p></li>
               </ul>
            </div>
         </div>
      </section>
   </body>
</html>
