<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
         rel="stylesheet"
      />

      <link href="style.css" rel="stylesheet" />
      <link href="queries.css" rel="stylesheet" />
      <title>Responsive Nav</title>
   </head>
   <body>
      <header class="header">
         <a href="#"
            ><ion-icon class="brand-logo" name="logo-sass"></ion-icon
         ></a>
         <nav class="nav-bar">
            <ul class="nav-links">
               <li><a class="nav-link" href="#">How it Works</a></li>
               <li><a class="nav-link" href="#">Products</a></li>
               <li><a class="nav-link" href="#">Testimonials</a></li>
               <li><a class="nav-link" href="#">Pricing</a></li>
               <li>
                  <a class="btn nav-link" href="#">Buy Now</a>
               </li>
            </ul>
         </nav>

         <button class="mobile-nav-btn">
            <ion-icon class="icon-nav-btn" name="menu-outline"></ion-icon>
            <ion-icon class="icon-nav-btn" name="close-outline"></ion-icon>
         </button>
      </header>

      <!-- ICON SCRIPT -->
      <script
         type="module"
         src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
      ></script>
      <script
         nomodule
         src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
      ></script>
   </body>
</html>
