@media (max-width: 60em) {
   .mobile-btn {
      display: block;
      z-index: 1;
   }

   .main-nav {
      background-color: rgba(255, 255, 255, 0.973);
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      opacity: 0;
      pointer-events: none;
      visibility: hidden;

      transition: all 0.8s ease-in;
      transform: translateX(100%);
   }

   .nav-list {
      flex-direction: column;
      gap: 6.4rem;
   }

   .nav-open .main-nav {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;

      transform: translateX(0%);
   }

   .nav-open .btn--open {
      display: none;
   }

   .nav-open .btn--close {
      display: block;
   }
}
